/*---------------------------------------------/
/---------------Projects Section---------------/
/---------------------------------------------*/

.h1-header {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
}

#projects-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  padding-top: 50px;
  justify-content: space-around;
  align-items: center;
  border-bottom:1px solid orangered;
}

#projects-container .project-tile {
  width: 500px;
  height: 250px;
  margin: 15px;
  position: relative;
  text-align: center;
  border: 3px solid orangered;
  transition: all .2s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#projects-container .project-tile h1 {
  display: block;
  position: absolute;
  top: 20px;
  margin: 0;
  padding: 0;
}

#projects-container .project-tile span {
  display: block;
  position: absolute;
  bottom: 20px;
  margin: 0;
  padding: 0;
}

#projects-container .project-tile img {
  display: block;
  margin: 0;
  padding: 0;
  transform: scale(0.6);
  transition: all 200ms ease-in;
}

#projects-container .project-tile:hover img {
  transform: scale(1);
  margin: 0;
  padding: 0;
}

#projects-container .project-tile > div {
  position: absolute;
  height: 250px;
  width: 500px;
  background-color: black;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 200ms ease-in;
}

#projects-container .project-tile > div a {
  color: #DD4500;
}

#projects-container .project-tile > div span {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 60%;
  height: 60px;
}

#projects-container .project-tile > div span i {
  text-decoration: underline;
}

#projects-container .project-tile:hover div {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

/*---------------------------------------------/
/----------------Skills Section----------------/
/---------------------------------------------*/
.skills-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.skill-card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
  "title title"
  "skill skill";
  height: 300px;
  width: 200px;
  background: orange;
  border: 1px solid black;

}

.skill-title {
  grid-area: title;
}


#contact {
  height: calc(100vh - 75px);
}

#contact form {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 300px;
  grid-template-rows: 25px 25px 80px 35px;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;	
}

.label {
  justify-self: end;
  height: 25px;

}

.input {
  justify-self: start;
  width: 300px;
  height: 25px;
  font-size: 1.2rem;
  background: #222;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  outline: none;
  padding: 0 2px 0 5px;
  transition: border .2s ease-out;
}

.input:focus {
  border:1px solid orangered;
  box-shadow: 0 0 5px orangered;
}

.textarea {
  width: 302px;
  height: 80px;
  resize: none;
}

.button {
  grid-column-start: 1;
  grid-column-end: 3;
  color: white;
  justify-self: center;
  border: none;
  background: #DD4500;
  width: 80px;
  height: 35px;
  cursor: pointer;
  outline: none;
}

.sites {
  display: flex;
  align-content: center;
  justify-content: center;
}

.sites-img {
  width: 80px;
  height: 80px;
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
}

.sites-img:hover { 
  filter: grayscale(0%);
}




















@media screen and (max-width: 1030px) {
  
  #projects-container {
    justify-content: space-around;
    align-content: center;
  }

  .texto {
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 560px) {
  #contact form {
    grid-template-columns: 45% 45%;
    grid-gap: 10px;
  }

  .input {
    width: 90%;
  }

  .textarea {
    width: 90%;
  }
}


